<link rel="stylesheet" type="text/css" href="/css/dashboard.css"/>


<section>
    <!--for demo wrap-->
    <h1>ALL quotations</h1><a href="/api/">Invoices</a>
    <div id=year style="float: right">
        <a href="/api/quotations?year=<%= year-1 %>"><</a>
        <%= year %>
        <a href="/api/quotations?year=<%= Number(year)+1 %>">></a>
    </div>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Quotation Number</th>
                <th>Company</th>
                <th>Date</th>
                <th>Price</th>
                <th>Dutch</th>
                <th>English</th>
                <th>Romanian</th>
                <th>French</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <%
            var jan;
            var feb;
            var mar;
            var apr;
            var may;
            var jun;
            var jul;
            var aug;
            var sep;
            var oct;
            var nov;
            var dec;
            %>
            <% quotations.forEach(function(quotation){ %>
            <% if (quotation.month === 1 && !jan){ %>
            <tr>
                <td id="month">January</td>
            </tr>
            <% jan = true } %>
            <% if (quotation.month === 2 && !feb){ %>
            <tr>
                <td id="month">February</td>
            </tr>
            <% feb = true } %>
            <% if (quotation.month === 3 && !mar){ %>
            <tr>
                <td id="month">March</td>
            </tr>
            <% mar = true } %>
            <% if (quotation.month === 4 && !apr){ %>
            <tr>
                <td id="month">April</td>
            </tr>
            <% apr = true } %>
            <% if (quotation.month === 5 && !may){ %>
            <tr>
                <td id="month">May</td>
            </tr>
            <% may = true } %>
            <% if (quotation.month === 6 && !jun){ %>
            <tr>
                <td id="month">June</td>
            </tr>
            <% jun = true } %>
            <% if (quotation.month === 7 && !jul){ %>
            <tr>
                <td id="month">July</td>
            </tr>
            <% jul = true } %>
            <% if (quotation.month === 8 && !aug){ %>
            <tr>
                <td id="month">August</td>
            </tr>
            <% aug = true } %>
            <% if (quotation.month === 9 && !sep){ %>
            <tr>
                <td id="month">September</td>
            </tr>
            <% sep = true } %>
            <% if (quotation.month === 10 && !oct){ %>
            <tr>
                <td id="month">October</td>
            </tr>
            <% oct = true } %>
            <% if (quotation.month === 11 && !nov){ %>
            <tr>
                <td id="month">November</td>
            </tr>
            <% nov = true } %>
            <% if (quotation.month === 12 && !dec){ %>
            <tr>
                <td id="month">December</td>
            </tr>
            <% dec = true } %>
            <tr>
                <td><%= quotation.quotationNumber %></td>
                <td><%= quotation.client.name %> </td>
                <td><%= quotation.date.toISOString().substring(0, 10) %> </td>
                <td>
                    <%= quotation.total %> EURO
                </td>
                <td>
                    <div>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>">View</a>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>/edit">Edit</a>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>/download?lang=nl">Download</a>
                    </div>
                </td>
                <td>
                    <div>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>?lang=en">View</a>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>/edit?lang=en">Edit</a>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>/download?lang=en">Download</a>
                    </div>
                </td>
                <td>
                    <div>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>?lang=ro">View</a>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>/edit?lang=ro">Edit</a>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>/download?lang=ro">Download</a>
                    </div>
                </td>
                <td>
                    <div>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>?lang=fr">View</a>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>/edit?lang=fr">Edit</a>
                        <a href="/api/quotation/<%= quotation.quotationNumber %>/download?lang=fr">Download</a>
                    </div>
                </td>
            </tr>
            <% }) %>

            </tbody>
        </table>
    </div>
</section>

<a href="/api/quotation/new" style="float: right;margin-right: 50px;">make new quotation from Odoo export</a>


<div class="made-with-love" style="margin-left: 12%;">
    Made with
    <i>♥</i> by
    <a target="_blank" href="http://www.ab-it.io">AB-IT</a>
</div>